body{
    font-family: 'Lato', sans-serif; 

}

main{
    .intro{
        width: 500px;
        text-align: center;
        margin: 70px auto;
        h2{
            font-size: 38px;
            font-weight: normal;
            letter-spacing: 1px;
        }
    }
    .robots-section{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        width: 85%;
        margin: 0 auto;
        .robots{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 30px;
            h3{
               font-weight: normal;
            }
            p{
                width: 180px;
                text-align: center;
            }
            .img-robot{
                height: 300px;
                width: 200px;
                border-radius: 0 30px 0 0;
                overflow: hidden;
                position: relative;
                .type{
                    position: absolute;
                    left: 50%;
                    transform: translate(-50%, -100%);
                    opacity: 0;
                    transition: .2s all linear;
                    margin: 0 auto;
                }
                .language{
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    visibility: hidden;
                    opacity: 0;
                    transition: .3s all linear;
                } 
                img{
                    transition: .2s all linear;
                }
            }
            .blue{
                background-image: linear-gradient(to bottom,#89faff,#aff9ff,#d6f8ff,#f2faff,#fff);
            }
            .pink{
                background-image: linear-gradient(to bottom,#ff89c6,#f7abe3,#f1caf6,#f2e6fe,#fff);
            }
            &:hover{
                .type{
                    transform: translate(-50%, 55%);
                    opacity: 1;
                }
                .language{
                    visibility: visible;
                    opacity: 1;
                }
                img{
                    transform: translate(-100%);
                }    
            }
        }
    }
}